html{
    box-sizing:border-box
}
*,:after,:before{
    box-sizing:inherit
}
body{
    background-color:#292929
}
.subtitle{
    font-family:'Quicksand',cursive;
    color:#fff
}
.fade-in{
    opacity:.8;
    transition:.3s
}
.fade-in:hover{
    opacity:1
}
.link{
    font-family:'Quicksand',cursive;
    color:#fff;
    text-decoration:none
}
.static{
    font-family:'Quicksand',cursive;
    color:#fff;
    text-decoration:none
}
.static:after{
    background:none repeat scroll 0 0 transparent;
    content:"";
    display:block;
    height:2px;
    background:#fff;
    transition:width .3s ease 0s,left .3s ease 0s;
    width:100%;
    left:0
}
.match{
    font-family:'Quicksand',serif;
    color:#fff
}
.center{
    margin-left:auto;
    margin-right:auto;
    margin-top:3px;
    margin-bottom:3px;
    text-align:center;
    display:flex;
    justify-content:center
}
.tooltip{
    position:relative;
    display:inline-block
}
.tooltip .tooltiptext{
    visibility:hidden;
    width:120px;
    background-color:#000;
    color:#fff;
    text-align:center;
    padding:5px 0;
    border-radius:6px;
    position:absolute;
    z-index:1;
    width:120px;
    top:100%;
    left:50%;
    margin-left:-60px;
    opacity:0;
    transition:opacity 1s
}
.tooltip .tooltiptext::after{
    content:" ";
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-5px;
    border-width:5px;
    border-style:solid;
    border-color:transparent transparent #000 transparent
}
.tooltip:hover .tooltiptext{
    visibility:visible;
    opacity:1
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
header{
    display:block
}
[hidden]{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline-width:0
}
small{
    font-size:80%
}
img{
    border-style:none
}
[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}
[type=checkbox],[type=radio]{
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
body,html{
    font-family:Verdana,san lb-threequarters-serif;
    font-size:15px;
    line-height:1.5
}
html{
    overflow-x:hidden
}
h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}
.lb-image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}
:disabled *{
    pointer-events:none
}
.lb-ul{
    list-style-type:none;
    padding:0;
    margin:0
}
.lb-ul li{
    padding:8px 16px;
    border-bottom:1px solid #ddd
}
.lb-ul li:last-child{
    border-bottom:none
}
.lb-display-container,.lb-tooltip{
    position:relative
}
.lb-tooltip .lb-text{
    display:none
}
.lb-tooltip:hover .lb-text{
    display:inline-block
}
.lb-bar{
    width:100%;
    overflow:hidden
}
.lb-center .lb-bar{
    display:inline-block;
    width:auto
}
.lb-bar .lb-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.lb-bar:after,.lb-bar:before,.lb-container:after,.lb-container:before{
    content:"";
    display:table;
    clear:both
}
.lb-half{
    float:left;
    width:100%
}
@media (min-width:601px){
    .lb-half{
        width:49.99999%
    }
}
.lb-hide{
    display:none!important
}
.lb-show{
    display:block!important
}
@media (max-width:600px){
    .lb-hide-small{
        display:none!important
    }
}
@media (max-width:992px) and (min-width:601px){
    .lb-hide-medium{
        display:none!important
    }
}
.lb-display-left{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%)
}
.lb-display-right{
    position:absolute;
    top:50%;
    right:0;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%)
}
.lb-circle{
    border-radius:50%
}
.lb-round-small{
    border-radius:2px
}
.lb-round,.lb-round-medium{
    border-radius:4px
}
.lb-round-xlarge{
    border-radius:16px
}
.lb-round-xxlarge{
    border-radius:32px
}
.lb-container{
    padding:.01em 16px
}
.lb-card,.lb-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
.lb-card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.19)
}
@keyframes lb-spin{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(359deg)
    }
}
@keyframes fading{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
@keyframes opac{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
    to{
        top:0;
        opacity:1
    }
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
    to{
        left:0;
        opacity:1
    }
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
    to{
        right:0;
        opacity:1
    }
}
@keyframes animatebottom{
    from{
        bottom:-300px;
        opacity:0
    }
    to{
        bottom:0;
        opacity:1
    }
}
@keyframes animatezoom{
    from{
        transform:scale(0)
    }
    to{
        transform:scale(1)
    }
}
.lb-small{
    font-size:12px!important
}
.lb-medium{
    font-size:15px!important
}
.lb-xlarge{
    font-size:24px!important
}
.lb-xxlarge{
    font-size:36px!important
}
.lb-left-align{
    text-align:left!important
}
.lb-right-align{
    text-align:right!important
}
.lb-center{
    text-align:center!important
}
.lb-border-0{
    border:0!important
}
.lb-border{
    border:1px solid #ccc!important
}
.lb-border-left{
    border-left:1px solid #ccc!important
}
.lb-border-right{
    border-right:1px solid #ccc!important
}
.lb-margin{
    margin:16px!important
}
.lb-margin-left{
    margin-left:16px!important
}
.lb-margin-right{
    margin-right:16px!important
}
.lb-left{
    float:left!important
}
.lb-right{
    float:right!important
}
.lb-transparent{
    background-color:transparent!important
}

.rating {
  --background: transparent;
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}

button {
  background: transparent;
  border-radius: 20px;
  border: 2px solid;
  border-image: linear-gradient(to right, #3b5998, #ff6ec4) 1;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}
button:disabled {
  background-color: transparent;
  border: none;
  border-image: none;
  opacity: 0.5; /* optional - add a little transparency to make it look "disabled" */
  cursor: not-allowed; /* optional - change the cursor to indicate that the button cannot be clicked */
}