<configuration>
    <!-- Stack Driver Appender -->
    <!-- See Config here: https://cloud.google.com/logging/docs/setup/java#wzxhzdk57wzxhzdk58logback_appender_for_product_name -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>application.log</file>
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    &lt;!&ndash; This is the kafkaAppender &ndash;&gt;-->
<!--    <appender name="kafkaAppender" class="io.github.bullettooth.logback.kafka.KafkaAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        <topic>logs</topic>-->
<!--        <keyingStrategy class="io.github.bullettooth.logback.kafka.keying.NoKeyKeyingStrategy" />-->
<!--        <deliveryStrategy class="io.github.bullettooth.logback.kafka.delivery.AsynchronousDeliveryStrategy" />-->

<!--        &lt;!&ndash; Optional parameter to use a fixed partition &ndash;&gt;-->
<!--        &lt;!&ndash; <partition>0</partition> &ndash;&gt;-->

<!--        &lt;!&ndash; Optional parameter to include log timestamps into the kafka message &ndash;&gt;-->
<!--         <appendTimestamp>true</appendTimestamp>-->

<!--        &lt;!&ndash; each <producerConfig> translates to regular kafka-client config (format: key=value) &ndash;&gt;-->
<!--        &lt;!&ndash; producer configs are documented here: https://kafka.apache.org/documentation.html#producerconfigs &ndash;&gt;-->
<!--        &lt;!&ndash; bootstrap.servers is the only mandatory producerConfig &ndash;&gt;-->
<!--        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>-->

<!--        &lt;!&ndash; this is the fallback appender if kafka is not available. &ndash;&gt;-->
<!--        <appender-ref ref="FILE" />-->
<!--    </appender>-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>